body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
  margin-top: 20px;
  text-align: center;
}

.presentation {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 21px;
  color: gray;
}

.cta {
  color: aquamarine;
  font-size: 16px;
}

.copyright {
  font-size: 21px;
  color: gray;
  text-align: right;
}
